<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>系统管理区</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>联盟公告版</string>
				<key>fid</key>
				<string>3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>联盟意见箱</string>
				<key>fid</key>
				<string>4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新手交流区</string>
				<key>fid</key>
				<string>92</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>直通理工区</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>校园求助热线</string>
				<key>fid</key>
				<string>108</string>
			</dict>
			<dict>
				<key>name</key>
				<string>叫卖场</string>
				<key>fid</key>
				<string>59</string>
			</dict>
			<dict>
				<key>name</key>
				<string>联盟旺铺</string>
				<key>fid</key>
				<string>114</string>
				<key>display</key>
				<string>&gt; 联盟旺铺</string>
			</dict>
			<dict>
				<key>name</key>
				<string>团购专区</string>
				<key>fid</key>
				<string>145</string>
				<key>display</key>
				<string>&gt; 团购专区</string>
			</dict>
			<dict>
				<key>name</key>
				<string>已完成交易记录</string>
				<key>fid</key>
				<string>93</string>
				<key>display</key>
				<string>&gt; 已完成交易记录</string>
			</dict>
			<dict>
				<key>name</key>
				<string>前程似锦</string>
				<key>fid</key>
				<string>83</string>
			</dict>
			<dict>
				<key>name</key>
				<string>考研兄弟连</string>
				<key>fid</key>
				<string>117</string>
				<key>display</key>
				<string>&gt; 考研兄弟连</string>
			</dict>
			<dict>
				<key>name</key>
				<string>兼职信息</string>
				<key>fid</key>
				<string>153</string>
				<key>display</key>
				<string>&gt; 兼职信息</string>
			</dict>
			<dict>
				<key>name</key>
				<string>海外BITer</string>
				<key>fid</key>
				<string>150</string>
			</dict>
			<dict>
				<key>name</key>
				<string>外语园地</string>
				<key>fid</key>
				<string>89</string>
			</dict>
			<dict>
				<key>name</key>
				<string>知识海报</string>
				<key>fid</key>
				<string>151</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>生活时尚区</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>购前咨询</string>
				<key>fid</key>
				<string>167</string>
			</dict>
			<dict>
				<key>name</key>
				<string>硬件与数码时尚</string>
				<key>fid</key>
				<string>80</string>
			</dict>
			<dict>
				<key>name</key>
				<string>驴游四海</string>
				<key>fid</key>
				<string>168</string>
			</dict>
			<dict>
				<key>name</key>
				<string>摄影与艺术</string>
				<key>fid</key>
				<string>116</string>
			</dict>
			<dict>
				<key>name</key>
				<string>车行天下</string>
				<key>fid</key>
				<string>140</string>
			</dict>
			<dict>
				<key>name</key>
				<string>生活会馆</string>
				<key>fid</key>
				<string>96</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>技术讨论区</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>网络技术与信息</string>
				<key>fid</key>
				<string>10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GNU/Linux 交流区</string>
				<key>fid</key>
				<string>84</string>
			</dict>
			<dict>
				<key>name</key>
				<string>嵌入式开发技术</string>
				<key>fid</key>
				<string>101</string>
			</dict>
			<dict>
				<key>name</key>
				<string>嵌入式 Linux 开发</string>
				<key>fid</key>
				<string>113</string>
				<key>display</key>
				<string>&gt; 嵌入式 Linux 开发</string>
			</dict>
			<dict>
				<key>name</key>
				<string>程序员集中营</string>
				<key>fid</key>
				<string>32</string>
			</dict>
			<dict>
				<key>name</key>
				<string>软件使用与交流</string>
				<key>fid</key>
				<string>21</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>苦中作乐区</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>游戏人生</string>
				<key>fid</key>
				<string>22</string>
			</dict>
			<dict>
				<key>name</key>
				<string>影视天地</string>
				<key>fid</key>
				<string>23</string>
			</dict>
			<dict>
				<key>name</key>
				<string>音乐殿堂</string>
				<key>fid</key>
				<string>25</string>
			</dict>
			<dict>
				<key>name</key>
				<string>灌水乐园</string>
				<key>fid</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>站庆专版</string>
				<key>fid</key>
				<string>65</string>
				<key>display</key>
				<string>&gt; 站庆专版</string>
			</dict>
			<dict>
				<key>name</key>
				<string>个人展示区</string>
				<key>fid</key>
				<string>106</string>
				<key>display</key>
				<string>&gt; 个人展示区</string>
			</dict>
			<dict>
				<key>name</key>
				<string>教工之家</string>
				<key>fid</key>
				<string>122</string>
				<key>display</key>
				<string>&gt; 教工之家</string>
			</dict>
			<dict>
				<key>name</key>
				<string>原创文学</string>
				<key>fid</key>
				<string>66</string>
				<key>display</key>
				<string>&gt; 原创文学</string>
			</dict>
			<dict>
				<key>name</key>
				<string>贴图欣赏</string>
				<key>fid</key>
				<string>24</string>
			</dict>
			<dict>
				<key>name</key>
				<string>动漫天空</string>
				<key>fid</key>
				<string>27</string>
			</dict>
			<dict>
				<key>name</key>
				<string>动漫美图</string>
				<key>fid</key>
				<string>63</string>
				<key>display</key>
				<string>&gt; 动漫美图</string>
			</dict>
			<dict>
				<key>name</key>
				<string>日语学习交流版</string>
				<key>fid</key>
				<string>110</string>
				<key>display</key>
				<string>&gt; 日语学习交流版</string>
			</dict>
			<dict>
				<key>name</key>
				<string>体坛风云</string>
				<key>fid</key>
				<string>115</string>
			</dict>
			<dict>
				<key>name</key>
				<string>舞动桑巴</string>
				<key>fid</key>
				<string>102</string>
				<key>display</key>
				<string>&gt; 舞动桑巴</string>
			</dict>
			<dict>
				<key>name</key>
				<string>职场生涯</string>
				<key>fid</key>
				<string>124</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
